{% extends "base.html"%}

{%block title%} Index Page {%endblock%}

{% block content%}
    <div class="container_logo">
        <div class='title'>
            <h1>Radio</h1>
            <div class='back-text'>
                <span>C</span>
                <span>h</span>
                <span>i</span>
                <span>l</span>
                <span>l</span>
                <span>-</span>
                <span>W</span>
                <span>a</span>
                <span>v</span>
                <span>e</span>
            </div>
        </div>
        <script>
            let spanTexts = document.getElementsByTagName("span");
            window.onload = function(){
                for ( spanText of spanTexts){
                    spanText.classList.add('active');
                }
            }
        </script>
    </div>

    <div class="container_radio">
        <audio id="radio-player" controls autoplay>
            <source src="http://icestreaming.rai.it/5.mp3" type="audio/mpeg">
        </audio>
        
    </div>


{%endblock%}